@using Enigmatry.CodeGeneration.Configuration.Form.Model
@using Enigmatry.CodeGeneration.Configuration.Form.Model.Select
@model Enigmatry.CodeGeneration.Configuration.Form.FormComponentModel;
<form [formGroup]="form">
    <mat-card>
        <mat-card-content>
            @foreach (var formControl in Model.VisibleFormControls)
            {
                switch (formControl.Type)
                {
                    case FormControlType.Input:
                        @Html.Partial("~/Templates/Angular/Material/FormControls/Angular.FormControl.Input.cshtml", formControl)
                        <br/>
                        break;
                    case FormControlType.DropDownList:
                        @Html.Partial("~/Templates/Angular/Material/FormControls/Angular.FormControl.DropDownList.cshtml", formControl as SelectFormControlModel)
                        <br/>
                        break;
                    case FormControlType.Autocomplete:
                        @Html.Partial("~/Templates/Angular/Material/FormControls/Angular.FormControl.Autocomplete.cshtml", formControl as SelectFormControlModel)
                        <br/>
                        break;
                    case FormControlType.DateTime:
                        @Html.Partial("~/Templates/Angular/Material/FormControls/Angular.FormControl.DateTime.cshtml", formControl)
                        <br/>
                        break;
                    case FormControlType.CheckBox:
                        @Html.Partial("~/Templates/Angular/Material/FormControls/Angular.FormControl.CheckBox.cshtml", formControl)
                        <br/>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="secondary" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" (click)="save()">Save</button>
        </mat-card-actions>
    </mat-card>
</form>